<div class="container mt-5">
  <div class="row">

    <div class="col-md-4">
      <h3>TD form</h3>
      <form #signUpForm="ngForm"
      (ngSubmit)="onsubmit(signUpForm)">
        <div class="form-group">
          <label  for="userName">userName</label>
          <input required="" ngModel name="userName"
          #username="ngModel" 
          type="text" class="form-control">
<strong class="text-danger" *ngIf="username.touched&& username.invalid">
  user name bhar le pehale!!!</strong>
        </div>
        <div class="form-group">
          <label for="email">email</label>
          <input 
          ngModel 
          name="email"
         required=""
           type="text"  #email="ngModel" class="form-control">
<strong class="text-danger" *ngIf="email.touched&& email.invalid">
  ab email kon bharege !!!</strong>

        </div>
        <button type="submit" [disabled]="signUpForm.invalid"
         mat-raised-button color="primary" class="btn btn-block">signUp</button>
      </form>
    </div>

    <div class="col-md-7">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>sr</th>
            <th>userName</th>
            <th>email</th>
            <th>edit</th>
            <th>remove</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>gajanan</td>
            <td>gaju@123gmail.com</td>
            <td> <button mat-flat-button color="primary">edit</button></td>
            <td> <button mat-flat-button color="warn">delete</button></td>

          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>